<div ng-hide="home.show"
     style="background:darkred; width:100vw; height:100vh; display:flex; justify-content:center; text-align: center; flex-direction: column; position:absolute; top:0; left:0; color:mintcream">
    <h1 style="font-family: 'Nothing You Could Do', cursive;">Angela,</h1>
    <h3 style="font-family: 'Nobile', sans-serif;">Will you be my virtualentine?</h3>
    <br>
    <div style="display: flex; flex-direction: row; justify-content: space-around">
        <button ng-click="home.show.no = true"
                style="font-size: 1.2em; padding:1em; font-family: 'Nothing You Could Do', cursive;">
            <div class="fa-stack fa-lg">
                <i style="color:darkred" class="fa fa-heart fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x"></i>
            </div>
            <div>No way, José</div>
        </button>
        <button ng-click="home.show.yes = true"
                style="font-size: 1.2em; padding:1em; font-family: 'Nothing You Could Do', cursive;">
            <div class="fa-stack fa-lg">
                <i style="color:darkred" class="fa fa-heart fa-stack-1x"></i>
                <i class="fa fa-circle-o-notch fa-stack-2x"></i>
            </div>
            <div>Yes, Obviously</div>
        </button>
    </div>
</div>

<div ng-if="home.show.yes"
     style="background: black; width:100vw; height:100vh; display:flex; justify-content:center; text-align: center; flex-direction: column; position:absolute; z-index:100; top:0; left:0;">
    <button style="position:fixed; padding:1em; font-family: 'Nobile', sans-serif;" ng-click="home.show = false">
        <b class="fa fa-chevron-left"></b>
    </button>
    <iframe width="100%" height="100%"
            src="https://www.youtube-nocookie.com/embed/aF4CWCXirZ8?start=19&rel=0&autoplay=1&showinfo=0"
            frameborder="0" allowfullscreen></iframe>
</div>

<div ng-if="home.show.no"
     style="background: black; width:100vw; height:100vh; display:flex; justify-content:center; text-align: center; flex-direction: column; position:absolute; z-index:99; top:0; left:0;">
    <button style="position:fixed; padding:1em; font-family: 'Nobile', sans-serif;" ng-click="home.show = false">
        <b class="fa fa-chevron-left"></b>
    </button>
    <iframe width="100%" height="100%"
            src="https://www.youtube-nocookie.com/embed/nYndBvhz8hU?rel=0&autoplay=1&showinfo=0" frameborder="0"
            allowfullscreen></iframe>
</div>